# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# captcha
/src/captcha

# dependencies
/node_modules
/tmp
/log

#certificates
/sslcert

# production
/build

# compilation
/dist

# misc
.DS_Store
.env
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
